<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Веб-сервис выделения кусков текста на сайтах</title>
		<link type="text/css" href="{{ MEDIA_URL }}styles/base.css" rel="stylesheet">
	</head>
	<body>
		<div id="content">
			{# <textarea id="b_area"></textarea> #}
			<small><em><a href="/marker.user.js">юзерскрипт</a>, <a id="b_link">букмраклет</a></em><small>
			<div class="text">
				Задумайтесь — что изменилось в работе с информацией с 90х годов? Нет-нет, не тычьте мне в морду твиттерами и френдфидами, я не о доставке, я о потреблении.
				
				<h2>Последняя закладка официально умерла вместе с продажей Delicious</h2>
				Закладки не помогали. Открыть страницу — 1% работы, теперь надо её переварить.
				<h2>Концепция клипменеджеров не менялась со времён</h2>
				Выделить и добавить! По смыслу рядом с «выкрасить и выбросить»… Контекст-то теряется!
				<h2>Стикеры и sidewiki не решают проблему</h2>
				Это — вообще проходная отрыжка2.0. Инструменты никак не взаимодействуют с контентом, они болтаются либо на «стекле» поверх страницы, либо в «ящичке» сбоку.
				
				Как же так? Таки-совсем-совсем нет света в конце тонеля? Расслабиться и идти дальше кушать гигабайты словесного поноса?
				
				<h1>Решение есть!</h1>
				Помните, как в старые-добрые времена вы брали книжечку, и подчёркивали важное карандашом? Или с возмущением зачёркивали целые абзацы, в которых автор писал полную чепуху? А иногда добавляли на полях какую-то мысль, мнение.
				
				Или брали книги с пометками в библиотеке/у знакомых, и радовались, если кто-то оставил пометки в книге. Если этот кто-то — умный, внимательный читатель, пометки превращались в ценнейшее дополнение к книге.
				
				Совсем скоро вы сможете делать это в вебе! Представьте себе: вы сможете помечать любые статьи так, как вам угодно. Комментировать отдельные фрагменты текста не отходя от кассы! Видеть популярные пометки, оставленные коллективным разумом! Делиться размеченными статьями даже с теми, кто не использует какие-то экстеншны/плагины/юзерскрипты! И самое главное: иметь сборник цитат из всех помеченных статей у себя под рукой, даже если сама статья будет удалена!
				
				<em>Сейчас у вас есть возможность ознакомиться с прототипом сервиса. Установите <a href="/marker.user.js">пользовательский скрипт</a> или <a id="b_link">перетащите букмарклет</a>, отмечайте и смотрите, что отметили другие.</em>
			</div>
			
		</div>
		<script>
			var s = function(id) { return document.getElementById(id); };
			s('b_link').href = s('b_area').value = '{{bookmarklet|safe}}';
		</script>
	</body>
</html>
